* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
<<<<<<< HEAD
}

.main {
  display: flex;
}

.main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.trybewarts-forms-logo {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: flex-end;
=======
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
>>>>>>> fe3c68056a193a0bb5ac135a769a87d8c7bd5ab9
}